<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Role Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div th:replace="fragments/adminMenu.html :: top-menu"/>

<div class="w3-container w3-margin">


    <div class="w3-container w3-yellow">
        <h3>Employees</h3>
    </div>
    <div style="height: 24px;"></div>
    <table class="w3-table w3-striped w3-bordered">
        <div th:each="employee : ${employees}" class="w3-container">
            <tr>
                <td><h3 th:text="${employee.firstName} + '  ' + ${employee.lastName}">Name</h3></td>
                <td><a th:href="'/role/edit?id=' + ${employee.id}" href="#" class="w3-button w3-orange w3-margin-left">Edit Role</a></td>
            </tr>
        </div>
    </table>
</div>

</body>
</html>